<div class="container">
  <!-- <header class="d-flex flex-wrap justify-content-center py-3">
      <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none centering">
          <span class="fs-4 white  my-element">My portfolio</span>
      </a>

    
  </header> -->
</div>

<div class="container col-xxl-10 px-4 py-5 hello">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-3">
    <div class="col-10 col-sm-8 col-lg-3 avatar">
      <img
        src="DSCF36882.jpg"
        class="d-block mx-lg-auto img-fluid rounded-circle animate__animated animate__fadeIn"
        alt="Bootstrap Themes 100x100"
        loading="lazy"
        width="700"
        height="500"
      />
    </div>
    <div class="col-lg-1 space"></div>
    <!-- <div class="col-lg-8 desc">
          <h2 class="fs-3 fw-light ">Hi I am <span class="fw-semibold  ">Thamer Guissi</span>, Visual Artist
              <h1 class="display-6 fw-semibold lh-2 mb-3 ">Photographer , Videographer
                  and Graphic Designer.</h1>
              <div class="d-grid gap-2 d-md-flex justify-content-md-start my-4 ">
                  <button type="button" onclick="window.open('Thamer Guissi Resume v2.pdf')" class="btn  btn-lg px-4 me-md-2">Download resume</button>
              </div>
      </div> -->
  </div>
</div>

<div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom">Main Skills.</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col animate__animated animate__fadeInUp">
      <div class="feature-icon buttons bg-gradient">
        <!--    <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg> -->
        <i class="bi bi-vector-pen"></i>
      </div>
      <h2>Graphic Design</h2>
      <p>
        Achieved the satisfaction of over 100+ individuals and companies,
        providing them with designs that are ahead of their expectations up
        taking their brands
      </p>
      <a href="#" class="icon-link" style="color: #008a59">
        View my behance
        <i class="bi bi-chevron-double-right"></i>
      </a>
    </div>
    <div class="feature col animate__animated animate__fadeInUp">
      <div class="feature-icon buttons bg-gradient">
        <i class="bi bi-camera-fill"></i>
      </div>
      <h2>Photography</h2>
      <p>
        Paragraph of text beneath the heading to explain the heading. We'll add
        onto it with another sentence and probably just keep going until we run
        out of words.
      </p>
      <a href="#" class="icon-link" style="color: #008a59">
        View my 500px
        <i class="bi bi-chevron-double-right"></i>
      </a>
    </div>
    <div class="feature col animate__animated animate__fadeInUp">
      <div class="feature-icon buttons bg-gradient">
        <i class="bi-camera-video-fill"></i>
      </div>
      <h2>Videography</h2>
      <p>
        Paragraph of text beneath the heading to explain the heading. We'll add
        onto it with another sentence and probably just keep going until we run
        out of words.
      </p>
      <a href="#" class="icon-link" style="color: #008a59">
        View my Youtube
        <i class="bi bi-chevron-double-right"></i>
      </a>
    </div>
  </div>
</div>

<div class="container px-4 py-5" id="icon-grid">
  <h2 class="pb-2 border-bottom">Other skills.</h2>

  <div
    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5"
  >
    <div class="col d-flex py-3 align-items-start">
      <i
        class="bi bi-bag-fill color flex-shrink-0 me-3"
        style="font-size: 25px; align-self: baseline; display: flex"
      ></i>
      <div class="d-flex flex-column justify-content-between h-100">
        <h4 class="fw-bold mb-0">Digital Marketing</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>

    <div class="col d-flex py-3 align-items-start">
      <i
        class="bi bi-camera-fill color flex-shrink-0 me-3"
        style="font-size: 25px; align-self: baseline; display: flex"
      ></i>
      <div class="d-flex flex-column justify-content-between h-100">
        <h4 class="fw-bold mb-0">Photo Editing</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
    <div class="col d-flex py-3 align-items-start">
      <i
        class="bi bi-camera-video-fill color flex-shrink-0 me-3"
        style="font-size: 25px; align-self: baseline; display: flex"
      ></i>
      <div class="d-flex flex-column justify-content-between h-100">
        <h4 class="fw-bold mb-0">Video editing</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
    <div class="col d-flex py-3 align-items-start">
      <i
        class="bi bi-meta color flex-shrink-0 me-3"
        style="font-size: 25px; align-self: baseline; display: flex"
      ></i>
      <div class="d-flex flex-column justify-content-between h-100">
        <h4 class="fw-bold mb-0">Meta Ads</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
    <div class="col d-flex py-3 align-items-start">
      <i
        class="bi bi-laptop-fill color flex-shrink-0 me-3"
        style="font-size: 25px; align-self: baseline; display: flex"
      ></i>
      <div class="d-flex flex-column justify-content-between h-100">
        <h4 class="fw-bold mb-0">Front end web developement</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
    <div class="col d-flex py-3 align-items-start">
      <i
        class="bi bi-cloud-fill color flex-shrink-0 me-3"
        style="font-size: 25px; align-self: baseline; display: flex"
      ></i>
      <div class="d-flex flex-column justify-content-between h-100">
        <h4 class="fw-bold mb-0">CPanel Hositng management</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
    <div class="col d-flex py-3 align-items-start">
      <i
        class="bi bi-printer-fill color flex-shrink-0 me-3"
        style="font-size: 25px; align-self: baseline; display: flex"
      ></i>
      <div class="d-flex flex-column justify-content-between h-100">
        <h4 class="fw-bold mb-0">Heat transfer and sublimation</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>

    <div class="col d-flex py-3 align-items-start">
      <i
        class="bi bi-microsoft color flex-shrink-0 me-3"
        style="font-size: 25px; align-self: baseline; display: flex"
      ></i>
      <div class="d-flex flex-column h-100">
        <h4 class="fw-bold mb-0">Microsoft office</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
  </div>
</div>

<div class="container px-4" id="hanging-icons">
  <h2 class="pb-2 border-bottom">Tools.</h2>
  <div class="row g-4 py-5 row-cols-2 row-cols-lg-4">
    <div class="col d-flex align-items-center justify-content-center">
      <div
        class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3 size"
      >
        <img
          src="photoshop.svg"
          class="d-block mx-lg-auto img-fluid image"
          alt="Bootstrap Themes 100x100"
          loading="lazy"
        />
      </div>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
      <div
        class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3 size"
      >
        <img
          src="illustrator.svg"
          class="d-block mx-lg-auto img-fluid image"
          alt="Bootstrap Themes 100x100"
          loading="lazy"
        />
      </div>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
      <div
        class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3 size"
      >
        <img
          src="indesign.svg"
          class="d-block mx-lg-auto img-fluid image"
          alt="Bootstrap Themes 100x100"
          loading="lazy"
        />
      </div>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
      <div
        class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3 size"
      >
        <img
          src="premiere.svg"
          class="d-block mx-lg-auto img-fluid image"
          alt="Bootstrap Themes 100x100"
          loading="lazy"
        />
      </div>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
      <div
        class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3 size"
      >
        <img
          src="xd.svg"
          class="d-block mx-lg-auto img-fluid image"
          alt="Bootstrap Themes 100x100"
          loading="lazy"
        />
      </div>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
      <div
        class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3 size"
      >
        <img
          src="lightroom.svg"
          class="d-block mx-lg-auto img-fluid image"
          alt="Bootstrap Themes 100x100"
          loading="lazy"
        />
      </div>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
      <div
        class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3 size"
      >
        <img
          src="w3_html5-icon.svg"
          class="d-block mx-lg-auto img-fluid image"
          alt="Bootstrap Themes 100x100"
          loading="lazy"
        />
      </div>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
      <div
        class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3 size"
      >
        <img
          src="w3_css-icon.svg"
          class="d-block mx-lg-auto img-fluid image"
          alt="Bootstrap Themes 100x100"
          loading="lazy"
        />
      </div>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
      <div
        class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3 size"
      >
        <img
          src="Unofficial_JavaScript_logo_2.svg"
          class="d-block mx-lg-auto img-fluid image"
          alt="Bootstrap Themes 100x100"
          loading="lazy"
        />
      </div>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
      <div
        class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3 size"
      >
        <img
          src="DaVinci_Resolve_17_logo.svg"
          class="d-block mx-lg-auto img-fluid image"
          alt="Bootstrap Themes 100x100"
          loading="lazy"
        />
      </div>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
      <div
        class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3 size"
      >
        <img
          src="Group 11.svg"
          class="d-block mx-lg-auto img-fluid image"
          alt="Bootstrap Themes 100x100"
          loading="lazy"
        />
      </div>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
      <div
        class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3 size"
      >
        <img
          src="meta-logo-9333958WAw_brandlogos.net.svg"
          class="d-block mx-lg-auto img-fluid image"
          alt="Bootstrap Themes 100x100"
          loading="lazy"
        />
      </div>
    </div>

    <div class="col d-flex align-items-center justify-content-center">
      <div
        class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3 size"
      >
        <img
          src="Microsoft_Office_Word_(2019–present).svg"
          class="d-block mx-lg-auto img-fluid image"
          alt="Bootstrap Themes 100x100"
          loading="lazy"
        />
      </div>
    </div>

    <div class="col d-flex align-items-center justify-content-center">
      <div
        class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3 size"
      >
        <img
          src="Microsoft_Office_Excel_(2019–present).svg"
          class="d-block mx-lg-auto img-fluid image"
          alt="Bootstrap Themes 100x100"
          loading="lazy"
        />
      </div>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
      <div
        class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3 size"
      >
        <img
          src="CPanel_logo.svg"
          class="d-block mx-lg-auto img-fluid image"
          alt="Bootstrap Themes 100x100"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</div>

<div class="container px-4 py-5" id="custom-cards">
  <h2 class="pb-2 border-bottom">My works.</h2>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <div class="col" style="height: 35vh">
      <div
        class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
        style="
          background-image: linear-gradient(
              0deg,
              rgba(0, 0, 0, 0.5),
              rgba(0, 0, 0, 0.5)
            ),
            url(https://images.pexels.com/photos/1080721/pexels-photo-1080721.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
        "
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold icon-link">
            <a
              class=""
              href="https://www.flickr.com/photos/196402338@N07/"
              target="_blank"
              >Photos</a
            ><i class="bi bi-chevron-double-right"></i>
          </h2>
        </div>
      </div>
    </div>

    <div class="col" style="height: 35vh">
      <div
        class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
        style="
          background-image: linear-gradient(
              0deg,
              rgba(0, 0, 0, 0.5),
              rgba(0, 0, 0, 0.5)
            ),
            url(https://images.pexels.com/photos/3612182/pexels-photo-3612182.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
        "
      >
        <div class="test"></div>
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold icon-link">
            <a
              class=""
              href="https://www.behance.net/thamer-guissi"
              target="_blank"
              >Designs</a
            ><i class="bi bi-chevron-double-right"></i>
          </h2>
        </div>
      </div>
    </div>

    <div class="col" style="height: 35vh">
      <div
        class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
        style="
          background-image: linear-gradient(
              0deg,
              rgba(0, 0, 0, 0.5),
              rgba(0, 0, 0, 0.5)
            ),
            url(https://images.pexels.com/photos/12836126/pexels-photo-12836126.jpeg);
        "
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold icon-link">
            <a
              class=""
              href="https://youtube.com/channel/UCZFI3Ahzkc7uo3MCgMzvpkQ"
              target="_blank"
              >Videos</a
            ><i class="bi bi-chevron-double-right"></i>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom">Contact.</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature1">
      <div class="feature-icon">
        <i class="bi bi-envelope-fill" style="color: #404756"></i>
      </div>
      <h2>Email</h2>
      <p>guissi.thamer@gmail.com</p>
    </div>
    <div class="feature1">
      <div class="feature-icon">
        <a
          href="http://https://www.linkedin.com/in/thamer-guissi-62b0a9168/"
          target="_blank"
          ><i class="bi bi-linkedin linkedin"></i>
        </a>
      </div>
      <h2>Linkedin</h2>
      <p>
        <a
          href="https://www.linkedin.com/in/thamer-guissi-62b0a9168/"
          target="_blank"
          >Thamer Guissi</a
        >
      </p>
    </div>
    <div class="feature1">
      <div class="feature-icon">
        <i class="bi bi-telephone-fill" style="color: #404756"></i>
      </div>
      <h2>Phone</h2>
      <p>+213 799 5024 90</p>
    </div>
  </div>
</div>
<div class="container">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
  >
    <div class="col-md-4 d-flex align-items-center white copyright">
      <span class="white">&copy; 2022 Thamer Guissi</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex socials">
      <li class="ms-3">
        <a
          class=""
          href="https://www.facebook.com/DZ.Guissi.Thamer"
          target="_blank"
        >
          <i
            class="bi bi-facebook flex-shrink-0 me-3 icon-color"
            style="font-size: 25px"
          ></i
        ></a>
      </li>
      <li class="ms-3">
        <a class="" href="https://Instagram.com/thamer.gfx" target="_blank">
          <i
            class="bi bi-instagram flex-shrink-0 me-3 icon-color"
            style="font-size: 25px"
          ></i
        ></a>
      </li>
      <li class="ms-3">
        <a
          class=""
          href="https://www.linkedin.com/in/thamer-guissi-62b0a9168"
          target="_blank"
        >
          <i
            class="bi bi-linkedin flex-shrink-0 me-3 icon-color"
            style="font-size: 25px"
          ></i
        ></a>
      </li>
      <li class="ms-3">
        <a
          class=""
          href="https://youtube.com/channel/UCZFI3Ahzkc7uo3MCgMzvpkQ"
          target="_blank"
        >
          <i
            class="bi bi-youtube flex-shrink-0 me-3 icon-color"
            style="font-size: 25px"
          ></i
        ></a>
      </li>
      <li class="ms-3">
        <a
          class=""
          href="https://www.behance.net/thamer-guissi"
          target="_blank"
        >
          <i
            class="bi bi-behance flex-shrink-0 me-3 icon-color"
            style="font-size: 25px"
          ></i
        ></a>
      </li>
    </ul>
  </footer>
</div>

<!-- <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="dark"
  data-type="VERTICAL" data-vanity="thamer-guissi-62b0a9168" data-version="v1"><a
      class="badge-base__link LI-simple-link"
      href="https://dz.linkedin.com/in/thamer-guissi-62b0a9168?trk=profile-badge">Thamer Guissi</a></div>


<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script> -->

<script src="script.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
  crossorigin="anonymous"
></script>
